extends layout
block content
  section.col-md-12
    div.row(style="padding-top:70px;")
      //- div(class=typeof name === "undefined" ? "col-md-12" : "col-md-8")
      include 'table.pug'
      include 'panel.pug'
